body {
	background-color: #3498DB;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Cairo', sans-serif;
}

p {
	font-family: 'Cairo', sans-serif;
}

.panel-default>.panel-heading {
	background-color: #00F3BC;
}

.panel-body {
	background-color: #FFFFFF;
	font-family: 'Cairo', sans-serif;
	text-align: center;
	font-weight: bold;
}

.panel-title {
	font-size: 26px;
	text-align: center;
	font-weight: bold;
}

img.img-responsive {
	display: inline;
}